.pagination {
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-top: 1rem;
    border-top: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination .hidden {
    display: none;
  }
  
  .pagination li {
    font-size: 1.4rem;
    border: 1px solid #ccc;
    min-width: 3rem;
    height: 3rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .pagination li p {
    margin-left: 1rem;
  }
  .pagination p {
    padding-left: 20px;
  }
  
  .pagination li p .page {
    color: var(--fav-blue);
  }
  
  .active {
    background-color: var(--fav-blue);
    color: #fff;
  }
  